:root {
  --main-background: #F9F9F9;
  --main-hover: #EEF;
  --table-border: #E0E0E0;
  --link-color: #007ACC;
  --info-color: #888;
}

html, body {  
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  margin-left: 4px;
  margin-right: 4px;
  background-color: var(--main-background);
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
}

input {
  border-width: 0px;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.inputlabel {
  color: var(--info-color);
  font-size: 9px;
  margin-bottom: 4px;
}

.largeinput {
  font-size: 30px;
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left;
}

.logo {
  background: url(/html/logo.svg);
  width: 180px;
  height: 50px;
  background-repeat: no-repeat;
  margin-bottom: -10px;
}

#app {
  display: flex;
  flex-direction: column;
}

header {
  height: 45px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
}

.headercenter {
  flex: 1;
  max-width: 60vw;
}

.headerleft {  
  float: left;
}

.headerright {  
  float: right;
  height: 45px;
  display: flex;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.maincenter {
  flex: 1;
  max-width: 60vw;
}

.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.fullwidth {
  width: 100%;
}

table {
  border-spacing: 0px;
}

table.spacious tr {
  height: 47px;  
}

table.spacious td {
  border-top: 1px solid var(--table-border); 
}

table.spacious td:first-of-type,th:first-of-type {
  padding-left: 24px;
}

table.spacious td:last-of-type,th:last-of-type {
  padding-right: 24px;
}

tr:hover {
  background-color: var(--main-hover);
}