:root {
  --main-background: #F9F9F9;
  --main-hover: #EEEEFF;
  --main-selected: #EEEEFF;
  --table-border: #E0E0E0;
  --link-color: #007ACC;
  --selected-color: #59A842;
  --info-color: #888;
  --button-color: #438BF4;
}

html, body {  
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background: var(--main-background);
  background: linear-gradient(to bottom, #feffff 0%,#d2ebf9 100%);
  background: url('https://docs.google.com/uc?id=1OPigd5b97cS5nwNdTpHvw-hvhkCx5cwh');
}

h1, h2, h3 {
  margin-top: 2px;
  margin-bottom: 2px;
  white-space: nowrap;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
}

input {
  border: 1px solid #666;
  border-radius: 4px;
  padding: 4px;
  background-color: white;
  font-size: 16px;
}

button {
  border: 1px solid #666;
  border-radius: 4px;  
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--button-color);
  color: white;  
}

.selectedtext {
  color: var(--selected-color);
}

.gameinput {
  width: 120px;  
  margin-top: -4px;
  margin-bottom: -4px;  
}

.gameinputshort {
  width: 80px;  
  margin-top: -4px;
  margin-bottom: -4px;  
}

.scoreinput {
  width: 30px;    
  margin-top: -4px;
  margin-bottom: -4px;  
}

.inputlabel {
  color: var(--info-color);
  font-size: 12px;
  margin-bottom: 4px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    opacity: 1;
}

.largeinput {
  font-size: 30px;
  width: 100%;
}

.logo {
  width: 180px;
  height: 50px;
  margin-bottom: -10px;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  height: 45px;
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid black;
}

main {
  flex: 1;
  display: flex;
  justify-content: left;
  width: 100vw;
  height: calc(100vh - 45px);
  overflow-x: auto;
  overflow-y: auto;
}

.mainmargin {
  margin: 8px;
}

.linkspace {
  margin-left: 8px;
}

.flexcolumn {
  display: flex;
  flex-direction: column;  
}

.flexrow {
  display: flex;
  flex-direction: row;  
}

.flexcenter {
  align-items: center;
}

.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px #B4B4B4, 0 3px 6px #F6F6F6;
}

.fullwidth {
  width: 100%;
}

.maxwidthmedium {
  max-width: 800px;
}

table {
  border-spacing: 0px;
}

table tr {
  height: 24px;  
}

table.spacious tr {
  height: 47px;  
}

table.selectable tr {
  cursor: pointer;
}

table th {
  font-weight: bold;
  text-align: left;
  padding-left: 4px;
  white-space: nowrap;
  border-top: 1px solid var(--table-border);
}

table td {
  border-top: 1px solid var(--table-border); 
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
}

table.spacious td:first-of-type, table.spacious th:first-of-type {
  padding-left: 24px;
}

table.spacious td:last-of-type, table.spacious th:last-of-type {
  padding-right: 24px;
}

tr:hover {
  background-color: var(--main-hover);
}

.trhover {
  background-color: var(--main-hover);  
}

.trselected {
  background-color: var(--main-selected);
}

.fixedleft {
  position: -webkit-sticky; /* Safari */
  position: sticky;  
  left: 12px;
}

.tournamentheader {
  height: 60px;
  z-index: 1000;
}

.gamedateheader {
  height: 30px;
  margin: 4px;
  margin-top: 8px;
  z-index: 500;  
}

.menurow {
  height: 20px;
  margin-top: 4px;
}

.cardheader {
  height: 30px;
  margin-left: 4px;
  z-index: 1000;
}

.pitch {
  min-height: 100px;
  margin-left: 8px;
  opacity: 0.8;
}

.endspacer {
  width: 8px;
  height: 8px;
}

.leftdividercontainer {
  margin-left: -8px;
  left: 0px;
}

.leftdivider {
  width: 8px;
  background-color: var(--main-background);
  margin-bottom: -6px;
}

.dropdown-button {  
  border: none;
  cursor: pointer;  
  width: 20px;
  height: 24px;
  fill: var(--button-color);
  margin-top: 4px;
}

.dropdown-button:hover, .dropdown-button:focus {
  fill: #87B4F2;  
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.dropdown a:hover {background-color: var(--main-hover);}

.dropdown-content {
  margin-top: 4px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;  
  display: block;
}

.show {display: block;}

.edit-button {  
  border: none;
  cursor: pointer;  
  width: 20px;
  height: 20px;
  fill: var(--button-color);
  margin-top: 1px;
  margin-bottom: -4px;
}

.save-button {  
  border: none;
  cursor: pointer;  
  width: 20px;
  height: 20px;
  fill: #59A842;
  margin-top: 1px;
  margin-bottom: -4px;
}

.cancel-button {  
  border: none;
  cursor: pointer;  
  width: 20px;
  height: 20px;
  fill: #E03A32;
  margin-top: 1px;
  margin-bottom: -4px;
  margin-left: 2px;
}

.scorewin {
  font-weight: bold;
  color: blue;
}

.scoredraw {
  font-weight: bold;  
}

.scorelose {
  font-weight: bold;
  color: red;
}

.searchitem {
  font-weight: bold;
}

.searchrow {
  background: rgb(253, 241, 210);
}

.selected-button {  
  border: none;
  cursor: default;  
  width: 30px;  
  height: 30px;
  fill: var(--selected-color);
  margin-top: -1px;
}
.link-button {  
  border: none;
  cursor: pointer;  
  width: 26px;
  height: 26px;
  fill: var(--button-color);
  margin-top: 4px;
}